
html, body {
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0, 0, 0, 0);
}

.button-container {
    overflow: hidden;
    border-radius: 30px;
    background-color: #262626;
    height: 100%;
    width: 100%;
}

.grid {
    overflow: hidden;
    cursor: pointer;
    float: left;
}

.text {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.text > span {
    display: table-cell;
    vertical-align: middle;
}
